name: Tests

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  build:
    name: CI
    runs-on: ubuntu-latest
    strategy:
      matrix:
        stack_yaml: ["stack.yaml", "stack.clash-1349.yaml"]
    steps:
      - name: Setup GHC
        uses: actions/setup-haskell@v1
        with:
          ghc-version: "8.8.2"

      - name: Setup Stack
        uses: mstksg/setup-stack@v1

      - name: Clone project
        uses: actions/checkout@v2

      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: ~/.stack
          key: ${{ runner.os }}-${{ hashFiles(format('{0}.lock', matrix.stack_yaml)) }}
          restore-keys: |
            ${{ runner.os }}-

      - name: Build
        run: "stack --stack-yaml ${{ matrix.stack_yaml }} build --fast --no-terminal --system-ghc"
